@import '~bootstrap/scss/bootstrap';

[data-theme="dark"] {
  background-color: #111 !important;
  color: #eee;
  h4 {
    color: #EAFF00;
  }
  .items {
    border: 2px solid yellow;
    padding: 8px;
    border-radius: 10%;
  }
}

.btn-outline-danger {
  border: 3px solid;
  margin: 5px;
}

.btn-outline-primary {
  border: 3px solid;
  margin: 5px;
}

.btn-outline-warning {
  border: 3px solid;
  margin: 5px;
}

#message {
  height: 20px;
}

h4 {
  color: #black;
}

.items {
  border: 2px solid black;
  padding: 8px;
  border-radius: 10%;
  margin: 6px 6px;
}
